<div ng-init="initScreen()">
  <h1>Todo Tasks {{userEmail}}</h1>
  <md-datepicker ng-model="selectedDate" md-placeholder="Enter date"></md-datepicker>
  <div>
    <table id="table_tasks" class="table table-bordered">
      <thead style="text-align:center;">
        <th class="col-md-1">HOUR</th>
        <th>TASKS</th>
      </thead>
      <tbody>
        <tr ng-repeat="hour in detailsHours">
          <td class="col-md-1 hourtd">
            <div>{{hour < 10 ? '0'+hour+':00' : hour+':00'}}
          </td>
          <td ng-click="addNewTask(hour,{})">
            <div style="display:inline-table" ng-repeat="task in tasks track by $index"
              ng-if="task.scheduled_hour.substring(0,2) == hour" ng-click="addNewTask(hour,task); return; $event.stopPropagation();">
              {{task.title + '-' + task.scheduled_hour}}
            </div>
            <!--<ul>
              <li ng-repeat="task in tasks track by $index">
                <!-- {{task.scheduled_hour.substring(0,2)==hour}}
                <div ng-if="task.scheduled_hour.substring(0,2) == hour">{{task.title + '-' + task.scheduled_hour}}</span>
              </li>
            </ul>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
