.ng-dirty.ng-valid{
	border-color: #78FA89 !important;
}

.ng-touched.ng-invalid.ng-invalid-required{
	border-color: #FA787E !important;
}

.ng-dirty.ng-invalid.ng-invalid-required{
	border-color: #FA787E !important;
}

form.ng-submitted input.ng-invalid.ng-invalid-required{
	border-color: #FA787E !important;
}

form.ng-submitted select.ng-invalid.ng-invalid-required{
	border-color: #FA787E !important;
}
